{% extends "layout/base.html" %}
{% load static %}

{% block content %}

<form action="{% url 'contact:list' %}" method="get">
    <label for="search">Search Term</label>
    <input
        id="search"
        type="search"
        name="q"
        value="{{ request.GET.q }}"
        hx-get="{% url 'contact:list' %}"
        hx-trigger="search, keyup delay:200ms changed"
        hx-target="tbody"  {# DOM target for the new content. #}
        hx-push-url="true"  {# Push the URL of this request into the navigation bar. #}
        hx-indicator="#spinner"
    >
    <input type="submit" value="Search">
    <img id="spinner" class="htmx-indicator" src="{% static 'img/spinning-circles.svg' %}" alt="Request In Flight…">
</form>

<table>
    <thead>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Edit</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
        {% include "contact/includes/list_rows.html" %}
    </tbody>
</table>

<h2>Add contact</h2>

<p>
    <a href="{% url 'contact:create' %}">Add Contact</a>
</p>

{% endblock %}
