{% extends "layout/base.html" %}
{% load static %}

{% block content %}

{% include "contact/includes/archive_download_ui.html" %}

<form action="{% url 'contact:list' %}" method="get">
    <label for="search">Search Term</label>
    <input
        id="search"
        type="search"
        name="q"
        value="{{ request.GET.q }}"
        hx-get="{% url 'contact:list' %}"
        hx-trigger="search, keyup delay:200ms changed"
        hx-target="tbody"  {# DOM target for the new content. #}
        hx-push-url="true"  {# Push the URL of this request into the navigation bar. #}
        hx-indicator="#spinner"
        _="on keydown[ctrlKey and code is 'KeyS'] from the window me.focus()"
    >
    <input type="submit" value="Search">
    <img id="spinner" class="htmx-indicator" src="{% static 'img/spinning-circles.svg' %}" alt="Request In Flight…">
</form>

<form x-data="{ selected: [] }">

    <template x-if="selected.length">
        <div class="toolbar-ui">
            <slot x-text="selected.length"></slot> contacts selected
            <a
                href="#"
                class="error"
                @click.prevent="
                    confirm(`Delete ${selected.length} contacts?`)
                    &&
                    htmx.ajax(
                        'DELETE',
                        '{% url 'contact:delete_all' %}',
                        { source: $root, target: document.body }
                    )"
            >Delete</a>
            <a href="#" @click.prevent="selected = []"><b>Cancel</b></button>
        </div>
    </template>

    <table>
        <thead>
        <tr>
            <th></th>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Edit</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
            {% include "contact/includes/list_rows.html" %}
        </tbody>
    </table>
<form>

<h2>Add contact</h2>

<p>
    <a href="{% url 'contact:create' %}">Add Contact</a>
    <span
        hx-get="{% url 'contact:count' %}"
        hx-trigger="revealed"  {# Issue a GET request when this element scrolls into view. #}
        hx-indicator="#spinner-count"
    >
        <img id="spinner-count" class="htmx-indicator" src="{% static 'img/spinning-circles.svg' %}" alt="">
    </span>
</p>

{% endblock %}

