{% extends "layout/base.html" %}

{% block content %}

<form action="{% url 'contact:list' %}" method="get">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ request.GET.q }}">
    <input type="submit" value="Search">
</form>

<table>
    <thead>
    <tr>
        <th>First</th>
        <th>Last</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Edit</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
        {% for contact in contacts_page.object_list %}
            <tr>
                <td>{{ contact.first_name|default:"" }}</td>
                <td>{{ contact.last_name|default:"" }}</td>
                <td>{{ contact.phone|default:"" }}</td>
                <td>{{ contact.email }}</td>
                <td>
                    <a href="{% url 'contact:update' pk=contact.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'contact:detail' pk=contact.id %}">View</a>
                </td>
            </tr>
        {% endfor %}
        {% if contacts_page.has_next %}
            <tr>
                <td colspan="6" style="text-align: center; padding: 30px 0;">
                    <a href="{{ contacts_page.next_page_number }}"
                        hx-get="?page={{ contacts_page.next_page_number }}"
                        hx-target="closest tr"  {# DOM target for the new content. #}
                        hx-swap="outerHTML"  {# Replace the entire DOM target with the response. #}
                        hx-select="tbody > tr"  {# DOM we want from the response. May include a "Load More" button. #}
                    >
                        <b>Load More</b>
                    </a>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>

<h2>Add contact</h2>

<p>
    <a href="{% url 'contact:create' %}">Add Contact</a>
</p>

{% endblock %}
