{% extends "layout/base.html" %}

{% block content %}

<h2>Update contact</h2>

<form action="{% url 'contact:update' pk=contact.id %}" method="post">

    {% csrf_token %}

    <fieldset>

        <legend>Contact Values</legend>

        <div>
            {{ form.as_p }}
        </div>

        <button>Save</button>

    </fieldset>

</form>

<h2>Delete contact</h2>

<button
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-confirm="Are you sure you want to delete this contact?"
    hx-delete="{% url 'contact:delete' pk=contact.id %}"
    hx-target="body"
    hx-push-url="true"
>Delete Contact</button>

{% include "contact/includes/back.html" %}

{% endblock %}
